
	    h1{
		color:navy;
	      }
	    button{
	          color:Blue;
	          background-color: light silver
	     }
	
         h3{
            color: brgb(1, 1, 28);

         }

         body{
            text-align:center;
         }

         p{
            color:hotpink;
         }

      